*        { box-sizing: border-box;    }
a:link   { text-decoration: none;     }
.wrapper { height: 100%; width: 100%; }

body {
    font-family: Lato, Helvetica, sans-serif;
    font-size: 10px;
} 

/* Buttons click effect. */
div.top:active,
div.low:active,
div.admin:active {
  background-color: lightblue;
}

/* Buttons font size. */
div.wrapper > .top,
div.wrapper > .low,
div.wrapper > .admin {
  font-size: 2em;
  line-height: 3em;
}

/* Buttons shape. */
div.wrapper > div {
  border: 1px solid black;
  border-radius: 4px;
  text-align: center;
}

/* Questions font size. */
div.question p {
  margin: 2% auto;
  font-size: 2em;
  font-weight: 300;
  width: 100%;
  padding-left: 1em;
  padding-right: 1em;
  text-align: left;
  border: 1px solid grey;
}

/* Results layout. */
#resultsDraw {
  padding-left: 2em;
  padding-right: 2em;
  width: 100%;
}

/* Responsiveness. */
@media (min-width: 700px) {
    .wrapper {
        height: 80%; width: 600px;
        margin: 10% auto; line-height: 2em;
    }
}

@media (orientation: landscape) {
    div.wrapper > .low,
    div.wrapper > .top,
    div.wrapper > .admin {
        line-height: 1.5em;
    }
}
