* {
    box-sizing: border-box;
}

body {
    font-family: Lato, Helvetica, sans-serif;
    font-size: 10px;
} 

a:link {
    text-decoration: none;
}

.wrapper {
  height: 98%;
  width: 100%;
}

div.wrapper > div {
  border: 1px solid black;
  border-radius: 4px;
  text-align: center;
}

/* XXXXXXXXXXXXXXXXXXXXXX */
div.wrapper > .top, div.wrapper > .low {
  font-size: 2em;
  line-height: 3em;
}

/* Add to 'div.wrapper > .admin' in final version. */
div.wrapper > .admin {
  font-size: 2em;
  line-height: 3em;
}

/* XXXXXXXXXXXXXXXXXXXXXX */
div.top:active, div.low:active, div.admin:active {
  background-color: lightblue;
}

div.question p {
  font-size: 2em;
  font-weight: 300;
  width: 100%;
  padding-left: 1em;
  padding-top: 0.5em;
  padding-right: 1em;
  text-align: left;
  border: 1px solid grey;
}

@media (min-width: 700px) {
    .wrapper {
        height: 60%;
        width: 600px;
        margin: 10% auto;
        line-height: 4em;
    }
}

@media (orientation: landscape) {
    div.wrapper > .low, div.wrapper > .top, div.wrapper > .admin {
        line-height: 2em;
    }
}
