body {
    font-family: Lato, Helvetica, sans-serif;
    font-size: 10px;
} 

.box {
  height: 98%;
  display: flex;
  flex-flow: wrap;
}


.box div {
  border: 1px solid black;
  border-radius: 4px;
  margin: 1px;
}

/* 
.box div {
  border: 1px solid black;
}
*/

div.box > .top {
    /* A size value for main-axis dimension
       is required for flex-grow to work. */
    width: 10%;
    height: 10%;

    /* '1': Flex-items get equal amounts of
            left free space.*/ 
    flex-grow: 1;

    text-align: center;
    font-size: 2em;
    line-height: 3em;
}

/* Pseudo-class for middle div in top row.
   Second flex-item gets twice the available
   left free space of row, based on free
   space after using 3*10% of 600px. */
div.top:nth-of-type(2) {
    flex-grow: 2;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

div.top p {
    margin: 0 auto;
}

div.box > .low {
    width: 10%;
    height: 10%;
    /* flex-grow: 1; */
    flex: 1 1 auto;
    font-size: 2em;
    text-align: center;
    line-height: 3em;
}

div.box > .middle {
    width: 100%;
    height: 78%;
    flex-grow: 2;
    font-size: 2em;
    font-weight: 300;
    padding-left: 1em;
    padding-top: 0.5em;
    padding-right: 1em;
}

@media (min-width: 700px) {
    .box {
        height: 60%;
        width: 600px;
        margin: 10% auto;
    }
}

