.wrapper {
  display: flex;
  flex-flow: wrap;
}

div.wrapper > div {
  /* Do not use '%' for flex item margins
  *  or paddings . */
  margin: 1px;
}

.top, .low {
    /* Base size for flex layout model. */
    width: 10%;
    height: 10%;
    flex: 1 1 auto;
}

div.top:nth-of-type(2) {
    flex-grow: 2;
}

.top { align-self: flex-start; }
.low { align-self: flex-end; }
