.wrapper {
  display: flex;
  flex-flow: wrap;
}

div.wrapper > div {
  /* Do not use '%' for flex item margins
  *  or paddings . */
  margin: 1px;
}

#out {
  width: 100%;
  height: 70%;
  border: 1px solid black;
}

/* div.question { */
#main {
  width: 100%; /* XXXXXXXXXXX */
  /* Why can the height not take the available vertical space? */
  /* -> Perhaps set main axis to column? */
  height: 30%;
  display: block;
}

#resultsDraw {
  padding-left: 2em;
  padding-right: 2em;
  width: 100%;
  height: 50%;
  display: block;
  border: 1px solid grey;
}

.top, .low {
    /* Base size for flex layout model. */
    width: 10%;
    height: 10%;
    flex: 1 1 auto;
}

div.top:nth-of-type(2) {
    flex-grow: 2;
}

.top { align-self: flex-start; }
.low { align-self: flex-end; }

#getResultsDiv {
    width: 100%;
    height: 10%;
    border: 1px solid black;
}
