<!DOCTYPE>
<html>
    <head>
        <link rel="stylesheet" href="./grid.css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,
                                       initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src="./app.js"></script>
    </head>

    <body>

        <div ng-app="app" class="wrapper" ng-controller="ctl">
            <div class="top last" ng-click="last()">Last</div>
            <div class="top info">
                <span>Question {{ questionCounter }}</span>
            </div>
            <div class="top next" ng-click="next()">Next</div>

            <div class="question">
                <p ng-bind="question"></p>
                <p>Imagine you get a phone call late at night
                by somebody who says he's member of a
                secret society with the mission to make
                the world reasonable and better again.
                He asks you to join because you have the
                connections needed for the next mission.
                People might get hurt. Would you join?
                You have ten seconds to decide.</p>
            </div>

            <div class="low answN"><span>No</span></div>
            <div class="low answM"><span>Maybe</span></div>
            <div class="low answY"><span>Yes</span></div>
        </div>

    </body>
</html>
