<!DOCTYPE>
<html>
    <head>
        <link rel="stylesheet" href="./pers.css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,
                                       initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src="./app.js"></script>
    </head>

    <body>
        <div ng-app="app" class="box" ng-controller="ctl">
            <div class="top" ng-click="last()">Last  </div>
            <div class="top">
                Question Nr.: {{ questionCounter }}
            </div>
            <div class="top" ng-click="next()">Next  </div>

            <div class="middle">
                <p ng-bind="question"></p>
            </div>

            <div class="low">No</div>
            <div class="low">Maybe</div>
            <div class="low">Yes</div>
        </div>
    </body>
</html>
