.box {
  display: flex;
  border: 1px dashed grey;
}

.box div {
  width: 100px;
  margin: auto;
  height: 96%;

  border: 1px solid black;
}

@media (min-width: 700px) {
    .box {
        height: 60%;
        width: 600px;
        margin: 10% auto;
        align-items: center;
        justify-content: center;
    }

    .box div {
        height: 80%;
    }
}

